.body-allcateg{
    background-image: url("../img/backgroundCateg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

.check-input{
    margin-left: 1rem;
    size: 3rem;
}



