.card-all{
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.card{
    font-size: larger;
    font-family: cursive;
    
}

.title{
    font-size: larger;
}

.body-categ{
    background-color: rgb(183, 253, 181);
     height: 100vh;
}

