.title-categ{
margin-top: 9rem;
color: blue; 
font-optical-sizing: 30;
}

.card-all{
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.card{
    font-size: larger;
    // font-family: cursive;
    
}

.title{
    font-size: larger;
}

.body-categ{
    background-image: url("../img/backgroundCateg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

